{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ publicationData.title }}{% endblock %}

{% block content %}
    <h2 class="display-5 link-body-emphasis mb-1">{{ publicationData.title }}</h2>
    <small class="me-3">{{ publicationData.date }}</small>
    <div class="d-inline-block">
        <img src="{% static 'img/watchEye.svg' %}" class="bi me-1" width="20" height="20" role="img" aria-label="Bootstrap"  alt="Просмотров :"/>
        <small class="text-body-secondary">{{ publicationData.clickCount }} </small><br>
    </div>
    <hr><br>
    <h2>{{ publicationData.content }}</h2>
{% endblock %}