{% extends 'base.html' %}
{% load static %}

{% block title %}Скучный блог джуна{% endblock %}
{% block content %}
<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Актуальные публикации
      </h3>
    {% if publications %}
        {% for publication in publications %}
          <article class="blog-post">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h2 class="display-5 link-body-emphasis mb-1">{{ publication.title }}
                    {% if user.is_authenticated %}
                        <a style="margin-left: 10px" href="{% url 'editBlog' publication.id %}"><img src="{% static 'img/edit.svg' %}" alt="Изменить"></a>
                        <a style="margin-left: 10px" href="{% url 'deleteBlog' publication.id %}"><img src="{% static 'img/trash.svg' %}" alt="Удалить"></a>
                    {% endif %}
                </h2>
            </div>
            <p class="blog-post-meta">{{ publication.date }}</p>
            <p>{{ publication.shortDescription }}</p>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                {% if publication.likes != 0 %}
                    <small class="text-body-secondary">{{ publication.likes }}</small>
                {% endif %}
                <a style="margin-left: 5px" href=""><img src="{% static 'img/heart.svg' %}" alt="Нравится"></a>&ensp;&ensp;
                <h6 onMouseOver="this.style.color='#4e4d4d'" onMouseOut="this.style.color='#000000'" class="mb-0"><a href="{% url 'blog' publication.id %}" class="text-decoration-underline text-reset" >Читать статью</a></h6>
            </div>
          </article>
          <hr>
        {% endfor %}
    {% else %}
        <h4>Скоро новые статьи!</h4>
    {% endif %}
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        {% if firstThreePublications %}
            <div>
                  <h4 class="fst-italic">Популярные публикации</h4>
                  <ul class="list-unstyled">

                          {% for popularPublication in firstThreePublications %}
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'blog' popularPublication.id %}">
                                    <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">{{ popularPublication.title }}</h6>
                                        <small class="text-body-secondary" class="me-3">{{ popularPublication.date }} </small>
                                        <div>
                                            <img src="{% static 'img/watchEye.svg' %}" class="bi me-1" width="20" height="20" role="img" aria-label="Bootstrap"  alt="Просмотров :"/>
                                            <small class="text-body-secondary">{{ popularPublication.clickCount }} </small><br>
                                        </div>
                                    </div>
                                </a>
                            </li>
                          {% endfor %}
                  </ul>
            </div>
        {% endif %}
        <div class="p-4">
          <h4 class="fst-italic">Связь со мной</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/yngqual1ty" target="GH">GitHub</a></li>
            <li><a href="https://t.me/yavitzrs" target="TG">Telegram</a></li>
            <li><a href="https://vk.com/bzhizik" target="VK">VK</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}